.ahm-lineInViewAll{
    color: blue;
    width: 80%;
    margin:10px 10% ;
    font-size: 30px;
}
.ahm-selectLocation{
    background-color: rgba(226, 223, 223, 0.411);
    padding: 12px;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}
.ahm-input{
    background-color: rgba(226, 223, 223, 0.411);
    padding: 10px;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    width: 30%;
}
.ahm-formContainerVeiwAll{
    display: flex;
    /* background-color: red; */
    align-items: center;
    gap:5px;
    justify-content: center;

}
.ahm-containerSearchIcon{
    padding: 10px;
    color:rgb(228, 228, 27);
    background-color: rgba(226, 223, 223, 0.411);
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
}

.ahm-InvestmentOpportunitesList{
    margin:20px auto 0;
    width:80%;
    height: 78vh;
    overflow-y: auto;
    /* background-color: red;  */
    padding: 5px;
    display: flex;
    gap:5px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media  (max-width:992px){
    .ahm-formContainerVeiwAll{
        display: block;
        width: 100%;
        /* background-color: red; */
        padding-bottom:5px ;
        /* margin-left:10%;  */
    }
    .ahm-selectLocation{
        width: 80%;
        margin-left: 10%;
        margin-top:3px;
        margin-bottom:3px;
    }
    .ahm-input{
        width: 80%;
        margin-left: 10%;
        margin-top:3px;
        margin-bottom:3px;
    }
    .ahm-containerSearchIcon{
        width: 80%;
        margin-left: 10%;
        margin-top:3px;
        margin-bottom:3px;
        text-align: center;
    }
    .ahm-searchIcon{
        width: fit-content;
        margin: auto;

    }
    .ahm-InvestmentOpportunitesList{
        /* display: block; */
        padding: 5px 5px 10px 5px;
        width:95%;
        margin-left:2% ;
    }
}


@media  (max-width:576px){
    .ahm-formContainerVeiwAll{
        display: block;
        width: 100%;
        /* background-color: red; */
        padding-bottom:5px ;
        /* margin-left:10%;  */
    }
    .ahm-selectLocation{
        width: 80%;
        margin-left: 10%;
        margin-top:3px;
        margin-bottom:3px;
    }
    .ahm-input{
        width: 80%;
        margin-left: 10%;
        margin-top:3px;
        margin-bottom:3px;
    }
    .ahm-containerSearchIcon{
        width: 80%;
        margin-left: 10%;
        margin-top:3px;
        margin-bottom:3px;
        text-align: center;
    }
    .ahm-searchIcon{
        width: fit-content;
        margin: auto;

    }
    .ahm-InvestmentOpportunitesList{
        display: block;
        padding: 0px;
        /* padding: 5px 5px 10px 5px; */
        width:100%;

        margin:0px ;
    }
    .ahm-InvestmentOpportunitesList .ahm-card{
        width:90%;
        margin-left: 5%;
        /* padding:; */
    }
}